/*
*********
Reset
*********
*/

html,body,address,blockquote,div,
form,fieldset,caption,
h1,h2,h3,h4,h5,h6,
hr,ul,li,ol,ul,
table,tr,td,th,p,img {
	margin:0;
	padding:0;
}

/*
*********
Background
*********
*/

body {
  display: block;
  background-color: #196037;
  margin: 1pc 4pc;
}

/*
*********
Heading and navigation bar
*********
*/

 #heading {
  display: block;
  background-color: #196037;
  margin: 2pc auto;
  text-align: center;
}

h1 {
  text-align: center;
  color: white;
  font-family: calibri;
  font-size: 60px;
  margin: auto;
}

h1:hover {
  text-shadow:1px 1px 10px rgb(243, 141, 219), 1px 1px 10px #FFB8EE;
}


h3 {
  text-align: left;
  color: white;
  font-family: arial, sans-serif;
  font-size: 30px;
}

a {
  color: #FFB8EE;
  text-decoration: none;
  text-align: center;
  font-family: arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

a:hover {
  color: rgb(243, 141, 219);
}

#name {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.nav {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.nav ul {
  text-align: center;
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 0;
  float: none;
}

.nav li {
  padding: .3pc;
  display: inline-block;
}


/*
*********
Images
*********
*/

#image1 {
  width: 300px;
  /* width: 100%; */
  margin: 0;
  /* display: block; */
  float: left; 
}

#frame1 {
  width: 300px;
  height: 400px;
  border: 6px solid #FFB8EE;
  background-color: white;
  margin: 0px 40px 30px 0;
  display: block;
  float: left;
} 

/*
********
Flexbox and Flexbox items 
********
*/

.container {
  margin: 40px auto;
  display: block;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.item {
  margin: 30px 10px;
  height: 170px;
  border: 5px solid white;
  justify-content: center;
}

.imgdescrip {
  display: block;
  margin-left: 100px;
  margin-right: 100px;
  text-align: center; 
}

/*
*********
Main content
*********
*/

#mainpage {
  /* display: flex;
  flex-direction: row; */
  display: block;
}

.spacer {
  height: 10px;
}

p {
  color: white;
  font-family: arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-indent: 0;
}


#mainpage p {
  display: block;
  text-align: left;
  margin: 20px 0px;
  color: white;
  font-family: arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-indent: 0;
}

#mainpage ul {
  list-style-type: none;
  list-style-position: outside;
  text-align: left;
  padding: 0px;
  /* margin-left: 1em; */
 }

#mainpage li{
  text-align: left;
  list-style-position: outside;
  margin: 40px 0 0 1em;
  padding: 0px;
}

#portfoliolist p {
  margin: 0;
  padding: 0;
}


#block1 {
  display: block;
}


#block2 ul, #block3 ul {
  list-style-type: disc;
  color: white;
  font-size: 30px;
}

/*
********
Footer 
********
*/
footer {
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 60px auto;
  left:0;
  bottom:0;
  height:50px;
  width:100%;
  display: block;
}

footer ul {
  text-align: center;
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 0;
  float: none;
}

footer li {
  padding: .3pc;
  display: inline-block;
}

#articles {
  margin-top: 40px;
}

/*
********
Video
********
*/

#video {
  display: block;
  text-align: center;
  width: 100%;
  
}

iframe {
  width: 700px;
  height: 400px;
}


/*
********
Sizing
********
*/
@media screen and (max-width: 800px) {

  iframe {
    width: 274px;
    height: 161px;
  }

  body {
    display: block;
  }

  body p {
    font-size: 16px;
    margin: 20px 0;
  }

  #mainpage p {
    font-size: 16px;
    margin: 20px 0;
  }

  body a {
    font-size: 16px;
  }

  #frame1 {
    width: 150px;
    height: 200px;
    display: block;
    clear: both;
    float: left;
  }

  #image1 {
    width: 150px;
    display: block;
  }

  body {
    width: 95%;
  /* margin-left: 25px;
  margin-right: 25px; */
  }

  #imgdescrip {
    margin: 10px;
  }
}


