/*
*********
Reset
*********
*/

html,body,address,blockquote,div,
form,fieldset,caption,
h1,h2,h3,h4,h5,h6,
hr,ul,li,ol,ul,
table,tr,td,th,p,img {
	margin:0;
	padding:0;
}

/*
*********
Background
*********
*/

body {
  background-color: #196037;
  margin: 1pc 8pc;
}

/*
*********
Heading and navigation bar
*********
*/

 #heading {
  display: block;
  background-color: #196037;
  margin: 2pc auto;
  text-align: center;
}

h1 {
  text-align: center;
  color: white;
  font-family: calibri;
  font-size: 60px;
  margin: auto;
}

h3 {
  text-align: left;
  color: white;
  font-family: arial, sans-serif;
  font-size: 30px;
}

a {
  text-decoration: none;
  display: inline;
  text-align: center;
  color: white;
  font-family: arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

#name {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.nav {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.nav ul {
  text-align: center;
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 0;
  float: none;
}

.nav li {
  padding: .3pc;
  display: inline-block;
}


/*
*********
Images
*********
*/

#image1 {
  width: 250px;
  margin: 20px;
  display: block;
  float: left; 
}

#frame1 {
  width: 290px;
  height: 370px;
  border: 6px solid #FFB8EE;
  background-color: white;
  margin: 10px 40px 30px 0;
  display: block;
  float: left;
} 

/* #image1 {
  width: 50px;
  height: 100px;
  display: block;
  float: left;
  margin: 40px;
}
/*
*********
Main content
*********
*/


p {
  color: white;
  font-family: arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-indent: 0;
}

#mainpage p {
  display: block;
  text-align: left;
  margin: 40px 0px;
  color: white;
  font-family: arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-indent: 0;
}

#mainpage {
  display: inline-block;
  margin: 2pc 0 0 0;
}


#block2 {
  display: block;
  margin: 50px 0 0 0;
}

#block3 {
  display: block;
  margin: 50px 0 0 0;
}

#mainpage ul {
  list-style-type: none;
  list-style-position: outside;
  text-align: left;
  padding: 0px;
  margin-left: 1em;
 }

#mainpage li{
  text-align: left;
  list-style-position: outside;
  margin: 40px 0 0 1em;
  padding: 0px;
}


a {
  color: #FFB8EE;
}

a:hover {
  color: rgb(243, 141, 219);
}

#portfoliolist p {
  margin: 0;
  padding: 0;
}


#block2 ul, #block3 ul {
  list-style-type: disc;
  color: white;
  font-size: 30px;
}


/*
********
Footer 
********
*/
footer {
  margin-top: 60px;
  text-align: center;
}

footer a {
  margin: 0 40px 0 40px;
}


.space {
  display: block;
  padding: 30px;
}

#video {
  display: block;
  text-align: center;
}